<!DOCTYPE html>
<html lang="en">
    <%- include('./includes/head', {title: "Cadastro"}) %>
<body>
    <%- include('./includes/header') %>
    <main class="container d-flex justify-content-center align-items-center vh-75">
        
        <!--
            titulo para o formulario
            campo para o nome da pizza
            campo para o preço da pizza
            button do tipo submit
            a width do form será fixa em 400px
            form deverá ficar ao centro da tela, tanto na horizontal quanto na vertical
        -->
        
        <form action="/cardapio/cadastro" method="POST" class="form-cadastro">
            <h2>Cadastro de pizza</h2>
            <div class="form-group">
                  <label for="nomePizza">Nome da Pizza: </label>
                  <input id="nomePizza" name="nomePizza" type="text" class="form-control" placeholder="Ex.: Mussarela">
            </div>
            <div class="form-group">
                  <label for="precoPizza">Preço da Pizza: </label>
                  <input id="precoPizza" name="precoPizza" type="number" class="form-control" placeholder="Ex.: 35">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success col-sm-12">Salvar</button>
            </div>
       </form>


    </main>
    
</body>
</html>