<!DOCTYPE html>
<html lang="en">
    <%- include('./includes/head', {title: "Cadastro"}) %>
<body>
    <%- include('./includes/header') %>
    <main class="container d-flex justify-content-center align-items-center vh-75">
        <form action="/cardapio/cadastro" method="POST" enctype="multipart/form-data" class="form-cadastro">
            <h2>Cadastro de pizza</h2>
            <div class="form-group">
                  <label for="nomePizza">Nome da Pizza: </label>
                  <input id="nomePizza" name="nomePizza" type="text" class="form-control" placeholder="Ex.: Mussarela">
            </div>
            <div class="form-group">
                  <label for="precoPizza">Preço da Pizza: </label>
                  <input id="precoPizza" name="precoPizza" type="number" class="form-control" placeholder="Ex.: 35.00" step=".01">
            </div>
            <div class="form-group">
                <label for="fotoPizza">Foto da Pizza: </label>
                <input type="file" class="form-control" name="fotoPizza" id="fotoPizza">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success col-sm-12">Salvar</button>
            </div>
       </form>


    </main>
    
</body>
</html>